@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Nossa política de privacidade é assim, assim e assado!</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores est aut labore tempora, commodi, eaque tenetur laborum animi, in quisquam dolorem inventore quis? Sed iusto error accusantium consequatur ratione! Similique.</p>