<h1>Página Quem Somos</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam dolorum itaque soluta aliquam accusamus quod debitis ut impedit laboriosam voluptatem eveniet ipsa possimus, at saepe recusandae natus aperiam doloremque placeat?</p>
<a asp-controller="Home"asp-action="Index">Voltar pra Home</a>